.ArticlesList {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  list-style: none;
  padding: 0;
  gap: 25px 10px;
}

@media (max-width: 1200px) {
  .ArticlesList {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 992px) {
  .ArticlesList {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  .ArticlesList {
    grid-template-columns: repeat(1, 1fr);
  }
}

.ArticlesList__item {
  height: 100%;
}

.ArticlesList__card {
  height: 100%;
}
